<article class="blog_post">
	<img src="<¡profilepicture>" style="object-fit:cover; border-radius:100%; height:75px; width:75px;">
	<div style="display:flex; justify-content: space-between; width:100%; ">
		<div style="text-align:left;">
			<h3><¡title></h3>
			<p><¡content></p>
		</div>
		<div style="text-align:right; ">
			<p style="padding:0px 0px; width: max-content;"><¡date></p>
			<p style="padding:0px 0px;color:#cccccc;"><¡userdisplay></p>
			<p style="padding:0px 0px 5px; font-size:65%; color:gray;">@<¡username></p>
			<¡adminoptions>
		</div>
	</div>
</article>