<header id="header" style=" z-index:5;">
    <div class="bar" style="height:100%; ">
    </div>
    <li>
        <img class="icon" onclick="document.getElementById('header').classList.toggle('hamb')" style="height:35px; cursor:pointer; float: left;" src="__rooturl/favicon.ico" alt="icon">
    </li>
    <ul style="list-style-type: none;">
        <a class="imagebutton" href="__rooturl/"><img src="__rooturl/assets/images/icons/home.png" alt="Home"><p>Home</p></a>
        <a class="imagebutton" href="__rooturl/users"><img src="__rooturl/assets/images/icons/users.png" alt="Users"><p>Users</p></a>
        <a class="imagebutton" href="__rooturl/forum"><img src="__rooturl/assets/images/icons/forum.png" alt="Forum"><p>Forum</p></a>
        <a class="imagebutton" href="__rooturl/chat"><img src="__rooturl/assets/images/icons/chat.png" alt="Chat"><p>Chat</p></a>
        <a class="imagebutton" href="__rooturl/inbox"><img src="__rooturl/assets/images/icons/inbox.png" alt="Inbox"><p>Inbox</p></a>
        <!--<a class="button" href="__rooturl/users">Users</a>
        <a class="button" href="__rooturl/forum">Forum</a>
        <a class="button" href="__rooturl/chat">Chat</a>-->
        <¡usertopbar>
    </ul>
</header>