<div class="notification <¡isread>">
	<a class="invisible" href="<¡redirect>">
		<div style="display:flex; justify-content:space-between;">
			<p><¡title></p>
			<p><¡date></p>
		</div>
		<p><¡content></p>
	</a>
	<config style="display:flex; justify-content: flex-end;">
		<p class="readstatus"><¡isread> </p>
		<a class="simple" href="__rooturl/notifications/read?timestamp=<¡timestamp>"><¡markstatus>ark as read</a>
		<a class="simple" href="__rooturl/notifications/delete?timestamp=<¡timestamp>">Delete</a>
	</config>
</div>