<account style="text-align:right;" onclick="document.getElementById('popup').classList.toggle('hidden')">
	<div class="account">
		<div style="padding:5px 10px;">
			<p><¡userdisplay></p>
			<p>@<¡username></p>
		</div>
		<img src="<¡profile>" alt="profile picture" style="width:50px; height:50px;">
	</div>
</account>
<pup id="popup" class="hidden">
	<a class="btn" href="__rooturl/users/<¡userid>">Profile</a>
	<a class="btn" href="__rooturl/settings">Settings</a>
	<a class="btn" href="__rooturl/inbox">Inbox</a>
	<a class="btn" onclick="document.cookie = 'uid=0;path=/'; window.location.reload()">Log out</a>
</pup>