
<div style="display: flex; padding:2px 0px; overflow: hidden;">
    <img src="<¡user.image>" style="border-radius:100%; object-fit:cover; height:40px; width:40px;">
    <div>
        <a class="invisible" href="/users/<¡user.id>" style="padding:0;" >
            <¡user.displayname>
            <i style="color:#7d7d7d; font-size:55%; padding: 0px 5px 5px 0px;">
                <¡user.name>
            </i>
        </a>
        <p style="color:#c3c3c3; font-size: 90%;"><¡content></p>
    </div>
</div>