<a class="invisible" href="__rooturl/forum/<¡topic>/<¡postid>" name="<¡topic>" id="<¡topic>">
    <article style="background-color:#303033;">
        <li style="float:right; width:45%; text-align:right;">
            <div style='padding: 5px 20px; background-color:#494949; border-radius:5vw;'>
                <h4><¡date></h4>
            </div>
            <p style ="padding:0px 0px;color:#cccccc;" ><¡userdisplay></p>
            <p style ="padding:0px 0px 5px; font-size: 65%; color:gray;">@<¡user></p>
        </li>
        <li style="width:65%;">
            <h3><¡title></h3>
            <br>
            <h3>Category: <¡topic></h3>
        </li>
    </article>
</a>