<article>
	<h3>Tip of the iceberg.</h3>
	<br>
    <p>Finobe playerbase - The game was originally made on <b>finobe</b> but in May 19th 2021 finobe had to shut down following a request by Roblox.</p>
    <br>
    <p>The hazmat suit - The hazmat suit is a common suit worn by most workers, mainly science team members. It can be aquired forever or on a limited time inside of the facility.</p>
    <br>
    <p>Tasks - Tasks are a common quest for the facility workers to complete, they appear everywhere in the facility. If the button is green you can start the task, completing the task awards you "money".</p>
    <br>
    <p>hi flashlight - It is a common joke shared by the workers about the founder, dr.<b>[REDACTED]</b> ironically saying hello (hi) to a flashlight being held in a low quality.</p>
    <br>
    <p>Boomboxes - The boomboxes are common items bought from the shop, making you able to play an unknown amount and list of music pieces, it seems the holders of these boomboxes can change the music to whatever they want.</p>
    <br>
</article>

<article>
    <h3>Top of the iceberg.</h3>
    <br>
    <p>Concerning lava - It's the substance being underneath on most of the rooms, it has very dangerous properties making it the second main reason of a worker's death may be.</p>
    <br>
    <p>Bricktool - No one knows what it does, but... it is a weapon of choice for ones trying to survive.</p>
    <br>
    <p>Science team - It is a team of workers being more respected and themself loyal to the higher ones. Not much is known about their behaviour when scattering throughout the facility.</p>
    <br>
    <p>Golden tasks - It is a different version of the task modules, it randomly appears after completing and succesfully resetting a task. Some say it has a shine of respect towards whoever has completed it.</p>
    <br>
    <p>Uranium - Uranium is a dangerous substance composing of natural radiation, it can be found everywhere in, above or near the facility in gas state, solid state and liquid state.</p>
    <br>
    <p>Surface elevator - It's an elevator found really rarely in the facility, it can be accesed by all "members" of the facility, although at the surface the escape is shut off by a cave, or if it's a border by the hills.</p>
    <br>
    <p>Uranium giver - It is a pad which as the name implies, gives the user uranium, even if the user doesn't wear a hazmat suit he can't be poisoned unless the user is directly holding it.</p>
    <br>
</article>

<article>
    <h3>Body of the iceberg.</h3>
    <br>
    <p>Events - Events are scheduled disasters made possible by the high ones in the facility. It's a test to see which generation of workers will work without being stopped by dangerous obstacles.</p>
    <br>
    <p>Thick fog - It is a certain detail of most parts of the facility, the main part which the fog resides in is the left corner, the fog itself is made of remains.</p>
    <br>
    <p>the pizzas - These are pizzas commonly found on many tables throughout the facility, it is not advised to touch or eat them as they have been there for years.</p>
    <br>
    <p>Forced work - This is a method of <del>b̶̧̰̬̪̿͌n̸̳̙̈̒̀h̶̼̮̳̥̉̐̉5̵͉̻̪̂̓͘̚y̴̠̠̝̣̑z̵̹̋̓̋̉ͅd̴͖̰̻͆̅͜i̴͍͚̲̔͆r̴̗̝̎̏͘͘j̴̡͈̫̤̈͋ǐ̴̩͕ņ̴̗͐q̴̳̦͐̆̈́  [l̴̢̺̭͚̖̝̟̖̇̀̈͗̒̊̚ò̴̤̦̮͓͚̮̮̖͗͛́͋̓̀̿̎̚͝͠g̸̟̱̺̒͒̿̌ ̵̨̪̮̘̮͔͖̏̍̂͜͠ͅç̸̫̳͕̘̪͍̎̈́͛̃̏̐͗͘͠ö̶̤̖̼̬͙̳̟̩͕́̃̈́̐͒̍͛͝r̶̡̛̺͚̠̩̖͔̟̣̩̾ͅȑ̸̨̢̺̞̤̞̇̑ͅủ̷̫̙̠͕̥̮̝͉̹́͒͛̕ͅp̸̺̦̤̭̫̯̍̾͗̂̀̊̄́̽̍̑ṫ̶̡͖͙̥̗̰͎̇̾̌̈̕͜e̸̹̺̳̬̘̳̤̩̠͑͜͜ͅd̸̪̥̈́̅̐̆] b̶̧̰̬̪̿͌n̸̳̙̈̒̀h̶̼̮̳̥̉̐̉5̵͉̻̪̂̓͘̚y̴̠̠̝̣̑z̵̹̋̓̋̉ͅd̴͖̰̻͆̅͜i̴͍͚̲̔͆r̴̗̝̎̏͘͘j̴̡͈̫̤̈͋ǐ̴̩͕ņ̴̗͐q̴̳̦͐̆̈́ȧ̸͔̮̖̚ö̵̧͎́͌̆r̷͔͗̋̇͘q̷͋̐͝ͅ0̷̣̘̑̾̾ͅò̴̞̖̼x̸̜̘͎͎̎͐͘1̶̲̘͈̾̒͊t̸̤̃̐f̵̎̏ͅ3̷͍̫̻͉̑̅̀8̵͆̒̒͜3̷̙͙̻͌͂̀n̷̘̙̄͂͘b̵͈̪͑3̵̫͔̐͛̀͠x̸̽ͅṙ̶̠͚͍</del>, which with the help makes the workers more comfortable so they can work in fear.</p>
    <br>
    <p>Dark areas - These areas cause hallucinations in the workers when observed, by getting close to it they get unconscious and fall. Workers say they see horrors they shall never forget.</p>
    <br>
    <p>experiments - These are procedures unknown to many, it seems that they are taken in one of the       testing chambers.</p>
    <br>
    <p>Generator - It is a structure uncommonly found in parts of the facility, the insides are made of                    , which power the whole part using the fog in the air.</p>
    <br>
    <p>The "Shop" - It's a structure commonly found in parts of the facility anonymously selling various items, in this being illegal ones such as guns.</p>
    <br>
    <p>Portal 2 inspirations - Some parts of the facility are based off of a scenario described as "lost in the facility", the scenario was written by w.                               .</p>
    <br>
    <p>Get uranium'd - This is a slogan used by the workers after killing someone brutally with the substance, uranium. This action commonly describes the cruelty of some.</p>
    
</article>

<article>
    <h3>The bottom of the iceberg.</h3>
    <br>
    <p>Edible uranium - It is a slogan used by the high ones in the facility, being of course lies testing the intelligence of workers so they won't get offered things by strangers.</p>
    <br>
    <p>The red incident - It is a <del><b>[REDACTED]</b></del> of h. o. <del><b>[REDACTED]</b> being <b>[REDACTED]</b></del>, they say the <b>[REDACTED]</b> went <del>to the <i>lava</i>, infecting it and strengthening</del> the already dangerous substance.</p>
    <br>
    <p>Uranimated lands - These are the lands which the facility, resides in.</p>
    <br>
    <p>Founder's cone - Some of the self aware workers spotting once hs.o. have decided to clip into the high polygonial shape at his head. The thing they saw inside would be a, <del><i>n       rffefy e inggr b herg8 o uhggye r hitgger n urguer8ge b ihgriug a uruherg b jreiiegr y??-fdsf</i></del>- (log ended)</p>
    <br>
    <p>Endings - Some workers might say the end can be put in more than just one way, the h.o. are trying to prevent this.</p>
    <br>
    <p>Bridge. - It is the main source of being killed in this land. Shall the ones, do it. Or shall they do it.</p>
    <br>
</article>

<article>
    <h3>The abyss.</h3>
    <br>
    <p>Wrong area - It seems as the entire facility is a "wrong area" according to The Backrooms entrance rules. Only the most self aware workers have ever clipped or know where to no-clip.</p>
    <br>
    <p>Ignorance of death count - As seen, as of now <b>XXWlzDodqj3SSD</b> workers have   d      i     d, the high ones ignore this count as they are aware of possible profit.</p>
    <br>
    <p>place of no hope - The entire facility is a place no worker, no soul can escape. If you were <b>jUeRXRdgHDCiwaSp</b>, it's too late. All they are trying to do is embarass you, make you sad, make m|.</p>
    <br>
    <p>The angeldav943 apparition - It's a specific desire of one's part, because every part of the facility is personalized every part may have different desired structures or creatures. T h18324e <b>oaENWc3m+aQ28=</b> 2a894r743e 76423d7423eat7823h 82346w237i723sh2873e634s</p>
    <br>
    <p>Curious message - It is a message stalking all the workers throughout, some may see it. The self aware know of it. It tries to lure the workers again, to test. The text is unrecognisable.ogg due to it's stalking behaviours, one find may be below a21111111b11r1i1rd1g1e1.</p>
    <br>
</article>

<article>
    <h3>Undefined levels</h3>
    <br>
    <p>Trespassable rock - It has been documented a specific rock being exactly 194.3 Kilometers in a specific part of the facility known as <b>"৲"</b> to not be able to be collided with by organic materials. More information is being discovered as of currently.</p>
    <br>
    <p>Observations - There are seen some observatory rooms, often between 1-6 in a single part of the facility. The ones inside are barely recognisable and the ways of reaching these rooms is unknown. The only ones recognised were hi.o. and dr.<del><b>[REDACTED]</b></del>.</p>
    <br>
    <p>Left to cone incident - This is a still known to a pair of workers wandering the low-levels of constructions. The incident was somehow known it has happened on 5th May year 2071. This information was somehow implanted into the workers' brains. It's said the side sight it, don't view the other one. Getting close may result in unforeseen consequences.</p>
    <br>
    <p>Expired formations - These are versions of substances being dried out or decayed in a way by time or events. They could appear normally as uranium and lava is often left randomly everywhere. These versions appear to be much stronger in any kind of effect they have given out before, or in their stiffness.</p>
    <br>
    <p>Rust - It is somehow possible to see metal being rusted in low or middle parts of the facility. These spots usually don't contain a view at the sky making them more questionable. Theories say the lava's nature has been rusting the surface of the metal to communicate.</p>
    <br>
    <p>Contaminated areas - These are signs saying <b>"CONTAMINATED AREA DO NOT ENTER"</b> at random places throughout the facility. Many information is unknown of their placement or meaning. They start to disappear after a few months, or appear at random times. There has been cases of spotting expired formations in rooms behind these signs, but this isn't guaranteed to be true.</p>
    <br>
    <p>Alone in part - This is something to avoid, if left in a part having entirely no presence of life other than you. Insanity will prevail almost instantly, or worse wonders.</p>
    <br>
    <p>Groupings - There have been spotted grouping of workers being kind or helpful to each other, these usually create their own religions to think about something every day. Sometimes cults and raids are made by these groups. This is a bad i.</p>
    <br>
    <p>Dark white face - A peculiar dream has been documented in a specific part of the facility (<del><b>[REDACTED]</b></del>), they say it's something being coming. Not much is known, but in this area a specific incident has already happened.</p>
    <br>
    <p>Uranium statues - These are statues of uranium with uranium being placed on top creating a statue of uranium. Most likely these are results of insanity or cults. More information is being searched for.</p>
    <br>
    <p>Nothing further - When testing the distance of the facility using a distance pointer currently an illegal object in the facility, the pointed displayed at first <del><b>[REDACTED]</b></del> Kilometers. Moving the pointer a bit has proved to display <del><b>[UNDEFINED]</b></del>.</p>
    <br>
</article>

<article>
	<h3>Further</h3>
	<br>
	<p>Interventions - In the walls and rarely the floors of the facility cracks intersecting the materials may appear as a result of anomalous gasses being transported around various parts of the facility. These intersections seem to be leading into dark spaces of nothingness composing of infinite space. Only one testing has been done to prove this so far and     reports of the interventions appearing in the facility. The gasses producing these products themselves have been reported to cause hallucinations on the user once spotted. The gas seems to have no colour yet is visible.</p>
</article>

<article>
    <p>Image of iceberg<p>
    <img src="https://static.angeldc943.repl.co/assets/images/angelfacility_iceberg.png" alt="iceberg image." class="big">
	<br>
    <h3>Hi flashlight image</h3>
    <img src="https://static.angeldc943.repl.co/assets/images/hiflashlight.png" alt="iceberg image.">
    <br>
</article>

<article>
    <p>May 19th 2021 finobe closed.</p>
    <p>While playing the original <b>AngelDav943's Facility</b> finobe closed, very sad.</p>
    <p>Thank you finobe for staying with us for over 4 years</p>
    <br>
    <p>The game got ported into roblox:</p>
    <a href="https://www.roblox.com/games/6837874298/Andec-Facility#!/game-instances" style="background:gray;">https://www.roblox.com/games/6837874298/Andec-Facility#!/game-instances</a>
</article>

<article style="padding:10px; background-color:black; color:white;">
    <p>Thanks to BluSpy/VerbosalSpy (EpicRefrigerator667#2000) by making this amazing iceberg!</p>
</article>