<article>
    <p>Sub-Pages</p>
    <br>
    <div style="overflow: hidden;">
        <li><a class="button simple" href="__rooturl/Andec/FacilityIceberg">Andec Facility Iceberg</a></li>
        <li><a class="button simple" href="__rooturl/Andec/FacilityIncidents">Andec Facility Incidents</a></li>
        <li><a class="button simple" href="__rooturl/Andec/AndecTestBot">AndecTestBot Status</a></li>
    </div>
    <br>
</article>

<article>
    <h3>Andec Facility - screenshots</h3>
    <img src="https://static.angeldc943.repl.co/assets/images/AndecFacility_Screenshot001.png" alt="Andec Facility Image">
    <img src="https://static.angeldc943.repl.co/assets/images/AndecFacility_Screenshot002.png" alt="Andec Facility Image">
    <img src="https://t7.rbxcdn.com/df6772bc7ceea20760020d749fb8dd0a" alt="Andec Facility Image">
</article>

<article>
    <h3>Andec Reactor Core - screenshots</h3>
    <img src="https://t7.rbxcdn.com/ac0d69e60d622984eddd41eff8a6eb40" alt="Andec Reactor Core Facility Image">
    <p>Custom screenshots soon</p>
</article>

<article>
    <h3>Andec Rocket testing facility - screenshots</h3>
    <img src="https://t7.rbxcdn.com/f92b43873daa46b2180452bcaa3f0950" alt="Andec RocketTesting Facility Image">
    <p>Custom screenshots soon</p>
</article>