<article>
    <p>This is some test with something called <b>canvas</b>.</p>
    <br>
    <p>And here i made a small code in javascript that lets you make lines or squares by putting two coordinates into the inputs</p>
</article>

<article>
    
    <input type="number" id="x1" placeholder="x1">
    <input type="number" id="y1" placeholder="y1">
    <input type="number" id="x2" placeholder="x2">
    <input type="number" id="y2" placeholder="y2">
    <input type="button" onclick="SubmitLine()" value="Line">
    <input type="button" onclick="SubmitSquare()" value="Square">
    <input type="button" onclick="SubmitClear()" value="Clear">

    <canvas id = "canvas" width = "500" height = "300" style = "width: 100%; background: #272727; border-radius: 10px; margin: 10px 0px;" >
        <script src="__rooturl/assets/scripts/canvastest/drawingscript.js" charset="utf-8"></script>
    </canvas>
    <p>Canvas size = x:500, y:300</p>
</article>