#badges {
	float: right;
	display: flex;
    flex-direction: column;
	margin: -26px -25px;
	padding: 10px;
	background: linear-gradient(0deg, #00000f00 0%, #2b2b2f 25%, #2b2b2f 100%);
}

#badges img {
	margin: 10px;
	height: 50px;
	width: 50px;
	object-fit: cover;
}

.user {
	width: 90%;
	float: left;
}

.user * {
	font-weight: 100;
}

.user#display {
	display: flex;
}

.sub {
	color:#dadada9e;
}

.profile img {
	margin-right:18px;
	width:140px;
    max-width: 140px;
	height:140px;
    border-color: #ff6000;
    border-style: solid;
}

.wall {
	margin: 25px 0px;
}

/* Legacy theme css */

html.legacy section.main {
	overflow: hidden;
    height:auto;
	padding: 25px;
	color:black;
	background:#FFF;
	border-radius: 5px;
	width: calc(700px - 50px);
}

html.legacy #badges {
	background: linear-gradient(0deg, #00000000 0%, #e8e8e8 25%, #e8e8e8 100%);
	margin: -43px -25px;
	border-radius: 5px;
}

html.legacy .sub {
	color:#00000091;
}

/* End Legacy theme css */

@media screen and (max-width: 800px) {
	#badges {
		margin: 0px -25px !important;
		background: #2b2b2f;
		width: calc(100% + 30px);
		padding:10px;
		overflow-x: auto;
		flex-direction: row;
	}

	#content {
		float: none;
	}

	.user {
		width:100%;
	}

	.user#display .profile {
		width: 160px;
	}

	/* Legacy theme css */
	html.legacy #badges {
		background: #e8e8e8;
	}
}
