html,body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
   height: 100%;
}

article.alert {
    padding:5px;
	color:white;
    overflow: hidden;
    border-radius: 50px;
    background-image:linear-gradient(red,#ae0000);
}

article.tip {
    padding:5px;
    overflow: hidden;
    border-radius: 50px;
    background-image:linear-gradient(lime,green);
}

article article {
    border-right-style: none;
    border-left-style: none;
    border-radius: 0px;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.199);    /* color of the scroll thumb */
  border-radius: 1vw;       /* roundness of the scroll thumb */
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: rgb(61 61 61);
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 1px solid rgb(61 61 61);
}