article.blog_post {
	display:flex;
	padding:5px;
	margin:10px 0px;
	word-break: break-all;
}

html.dark-mode article.blog_post {
	background-color:#303033;
	color:white;
}

html.legacy article.blog_post {
	padding: 10px;
}