html.legacy section.main {
	padding: 25px;
	color:black;
	background:#FFF;
	border-radius: 5px;
	width: calc(700px - 50px);
}

section.main {
	zoom: 120%;
	overflow: hidden;
    height:auto;
    width: 765px;
    margin: 87px auto;
    max-width: calc(100% - 50px);
    color:white;
	padding: 20px 25px;
	background: linear-gradient(0deg, #181818ed, #282828);
}

@media screen and (max-width: 800px) {
	section.main {
		display: block;
	}
}
