* {
    margin: 0;
    padding: 0;
}

a {
    color:#ceb0ff;
    cursor: pointer;
}

a.button {
    text-decoration: none;
    /*display: block;*/
    text-align: center;
    border-radius: 10px;
    margin: 5px;
    padding: 9px 10px;
    background: #7a7a7a30;
}

a.simple {
    text-decoration: none;
	display: block;
    text-align: center;
    border-radius: 0;
    margin: 5px 0px;
    padding: 5px 0px;
    background: #7a7a7a30;
}

a.imagebutton {
    background: #00000000;
}

a.imagebutton p {
    display: none;
}

a.invisible {
    background:#00000000;
    padding: 0px;
    text-decoration: none;
    text-align: left;
}

.dark-mode a.invisible {
    color:white;
}

a.round{
    border: none;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background: rgb(119, 119, 119);
    border-radius: 10px;
}

a.button:hover {
    border: none;
    background:#ff7800;
    color: #FFF;
    text-decoration:none;
}

a:hover {
    color:#9e76ff;
}

a.imagebutton:hover p {
    display: block;
    position: fixed;
}

input {
    border: none;
    font-size: 14px;
    line-height: 1.5em;
    padding: 0;
    margin: 2.5px;
    -webkit-appearance: none;
}

input[type=button],button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: #7a7a7a;
    color: #FFF;
    text-decoration:none;
    padding: 0px 5px;
}


input[type=button]:hover, button:hover, a.simple:hover, a.button:hover,a.imagebutton:hover {
    border: none;
    background-color:#ff7800;
    color: #FFF;
}