* {
    margin: 0;
    padding: 0;
    transition: 0.1s;
    font-family: Arial;
    list-style-type: none;
	text-overflow: ellipsis;
}

body {
    background: #272727;
}

html,body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
   height: 100%;
}

.touch:hover {
    border-color:#ff7800;
}

.main {
    zoom: 125%;
    width: 600px;
    height:calc(100% - 50px);
    margin: 110px auto;
    max-width: 95%;
	padding: 0px 25px;
    float: center;
    border-radius: 5px;
    color: white;
}

.main *{
    word-wrap: break-word;
}

header {
    zoom: 130%;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    width:100%;
    position: fixed;
    top: 0;
    color: white;
}

article {
    padding: 20px;
    background:#d8dae3;
    margin-bottom: 20px;
    border-radius: 10px;
    color: black;
    overflow: auto;
    border-color: #4e4e52;
    border-style: solid;
}



header img {
    height: 35px;
}

img {
    margin: 5px;
    padding: 0;
    border-radius: 5px;
    max-width: 100%;
}

.dark-mode article{
    background-color: #3d3d41;
    color: white;
}



@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport {
    width: extend-to-zoom;
    zoom: 125%;
}