<article class="alert">
    <p style="float:right;">You have been banned</p>
</article>

<article style="display:flex;">
	<div>
		<img src="https://static.angeldc943.repl.co/assets/images/computer_red.png" alt="" style="width:100px; height:auto;">
	</div>
	<div>
		<br>
		<b>Oh uh!</b>
		<p>Looks like you got banned.<p>
		<br>
		<p>if you want to appeal the ban dm Angeldav943#5472 on discord</p>
		<br>
		<a class="button" onclick='document.cookie = "uid=0;path=/"; window.location.reload()'>Log out</a>
	</div>

</article>