<center id="Welcomeback" style="mix-blend-mode:difference; padding:50px 0px;">
    <h2 >Welcome back <a href="__rooturl/users/<¡user_id>">@<¡user_username>!</a></h2>
</center>

<script id="script">
    if ('<¡user_displayname>' == "") {
        //document.getElementById('user').innerHTML = ''
        document.getElementById('Welcomeback').innerHTML = '<h2>Welcome Guest!</h3>'
    }
    document.getElementById('script').outerHTML = ''
</script>

<style>
    .article-maincontainer {
        overflow:auto;
    }

    .article-maincontainer li {
        height:calc(100% - 5px);
    }

    .article-maincontainer li.left {
        float:left;
        width:calc(60% - 5px);
    }

    .article-maincontainer li.right {
        float:right; 
        width:calc(40% - 5px);
    }

    @media screen and (max-width: 950px) {
        .article-maincontainer {
            height:auto;
        }

        .article-maincontainer li.left {
            float:none;
            width:100%;
        }

        .article-maincontainer li.right {
            float:none; 
            width:100%;
        }
    }
</style>



<div class="article-maincontainer" style="">
    <li class="left">
        <article style="height:calc(100% - 40px)">
            <p>Welcome to angeldc943.repl.co!<p>
            <br>
            <br>
            <p>I made this website to just put tests i made with javascript and some other things, maybe i will add more things soon.</p>
            <p>I know lua, javascript and some c#, and i know some 3D modelling.</p>
            <br>
			<p>You can see some of my tests by clicking <a href="__rooturl/tests">here</a>.</p>
			<br>
			<p>You can read about Andec Studios by clicking <a href="__rooturl/andec">here</a>.</p>
			<p>Or maybe check the blog by clicking <a href="__rooturl/blog">here</a>.</p>
			<br>
			<p>- <a href="__rooturl/users/1">AngelDav (@Angel)</a></p>
		</article>

    </li>
    <li class="right">
        <article>
            <h3>Latests updates</h3>
			<p>-Currency</p>
			<a href="__rooturl/Leaderboard">-Leaderboard page</a>
        </article>

        <article>
            <h3>People online</h3>
            <div id="users_online"></div>
        </article>
    </li>
</div>
<article>

</article>

<script>
    function reload_users() {
        fetch('__rooturl/api/users/online?repeat=false&value=name').then(userres => {
            userres.json().then(users => {
                document.getElementById('users_online').innerHTML = "-"+users.toString().replace(/,/g,"<br>-")
            })
        })
        setTimeout(() => {
            reload_users();
        },5000)
    }
    reload_users();
</script>